[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "vendor/github.com/codegangsta/negroni"]
	path = vendor/github.com/codegangsta/negroni
	url = https://github.com/codegangsta/negroni
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/svett/giraffe"]
	path = vendor/github.com/svett/giraffe
	url = https://github.com/svett/giraffe
[submodule "vendor/github.com/bpowers/seshcookie"]
	path = vendor/github.com/bpowers/seshcookie
	url = https://github.com/bpowers/seshcookie
[submodule "vendor/github.com/gorilla/sessions"]
	path = vendor/github.com/gorilla/sessions
	url = https://github.com/gorilla/sessions
[submodule "vendor/github.com/gorilla/context"]
	path = vendor/github.com/gorilla/context
	url = https://github.com/gorilla/context
[submodule "vendor/github.com/gorilla/securecookie"]
	path = vendor/github.com/gorilla/securecookie
	url = https://github.com/gorilla/securecookie
